<div>
    <form class="example-form" name="temperatureForm">
        <mat-form-field class="example-full-width">
            <mat-label>Temperature:</mat-label>
            <input
                matInput
                type="number"
                id="temperature"
                name="temperature"
                [(ngModel)]="temperature"
            />
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <input
                type="text"
                placeholder="Scale"
                aria-label="Number"
                matInput
                [formControl]="myControl"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of options" [value]="option">{{
                    option
                }}</mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div>
    <form class="example-form" name="humidityForm">
        <mat-form-field class="example-full-width">
            <mat-label>Relative Humidity (%):</mat-label>
            <input
                matInput
                type="number"
                id="relativeHumidity"
                name="relativeHumidity"
                [(ngModel)]="relativeHumidity"
            />
        </mat-form-field>
    </form>
    <button mat-raised-button color="primary" (click)="calculateHeatIndex()">
        Calculate Heat Index
    </button>
</div>

<mat-card *ngIf="heatIndex !== undefined" class="heat-index-card">
    <mat-card-content>
        <p class="heat-index-value">
            Heat Index: {{ heatIndex.toFixed(2) }} {{ temperatureUnit }}
        </p>
        <p class="heat-index-info">
            Heat Index cannot be calculated for temperatures less than 80°F or
            26.7°C.
        </p>
    </mat-card-content>
</mat-card>
